html
{
    background-color: pink;
    color: aliceblue;
}

a
{
    color: red;
}

p
{
    color: aliceblue;
    font-size: 18px;
}

hr
{
    color: aliceblue;
    max-width: 1300px;
    display: block;
    border-style: solid;
    
}

.header
{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}

.container
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    margin:0px auto 0px auto;
}


.img_in_box
{
    object-fit: contain;
}

.box
{
    margin: 0px 1% 0px 1%;
    max-width: fit-content;
    max-height:fit-content;
}

#leftborder
{
    border-style: solid; 
    border-right: 2px; 
    border-color: aqua;
    border-top: 2px; 
    border-radius: 10px;
    border-bottom: 2px;
    width: 20px;
}

#middle_header
{
    border-style: solid; 
    border-color: aqua;
    border-top: 2px;
    border-right: 2px;
    border-left: 2px;
    border-radius: 20px;
    padding-bottom: 10px;
}

#rightborder
{
    border-style: solid; 
    border-left: 2px; 
    border-color: aqua;
    border-top: 2px; 
    border-radius: 10px;
    border-bottom: 2px;
    width: 20px;
}



/* .box
{
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 2%;
    padding-right: 2%;

} */




